{% extends "app1/base.html" %}

{% block title %}
Inicio
{% endblock %}

{% block content %}

<div class="container text-center py-5">

    <h1 class="display-4 fw-bold text-primary">
        🏪Bienvenido a Tienda Libre
    </h1>

    <p class="lead mt-4">
        Estos son nuestros productos:
    </p>
    </div>
{% if productos %}

    <div class="row">

        {% for producto in productos %}

            <div class="col-md-4 mb-4">

                <div class="card h-100">

                    <div class="card-body">

                        <h5 class="card-title">
                            {{ producto.nombre|title }}
                        </h5>

                        <p class="card-text">
                            {{ producto.descripcion|truncatechars:40 }}
                        </p>

                        <p>
                            <strong>Stock:</strong>
                            {{ producto.stock }}
                        </p>

                        <p>
                            <strong>Precio:</strong>
                            {%if producto.precio == None%}
                                {{producto.precio|default:"Precio sin asignar"}}
                            {%else%}
                                ${{ producto.precio|floatformat:2}}
                            {%endif%}
                        </p>

                    </div>

                </div>
            

            </div>
            {%empty%}
                <div class="alert alert-warning">
                No hay productos registrados.
                </div>  
        {% endfor %}

    </div>

{% else %}

    <div class="alert alert-warning">
        No hay productos registrados.
    </div>

{% endif %}
{%endblock%}